<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://pcbuild.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
        <title>PC Build</title>
    </head>
    <body>
        <div class = "gallery">
            <div class="clipped-border">
                <img src="https://pcbuild.s3.jp-tok.cloud-object-storage.appdomain.cloud/comp.jpg" alt="PC">
            </div>
            <div class="clipped-border">
                <img src="https://pcbuild.s3.jp-tok.cloud-object-storage.appdomain.cloud/ram.jpg" alt="Ram">
            </div>
            <div class="clipped-border">
                <img src="https://pcbuild.s3.jp-tok.cloud-object-storage.appdomain.cloud/gpu.jpg" alt="gpu">
            </div>
            <div class="clipped-border">
                <img src="https://pcbuild.s3.jp-tok.cloud-object-storage.appdomain.cloud/cpu.jpg" alt="cpu">
            </div>
            <div class="clipped-border">
                <img src="https://pcbuild.s3.jp-tok.cloud-object-storage.appdomain.cloud/ssd.jpg" alt="SSD">
            </div>
            <div class = "shadow"></div>
        </div>
    </body>
</html>